* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  height: 150px;
  width: 150px;
}

.fle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
